h3 {
  color: crimson;
}

.base {
  padding-top: 1cm;
  background-color: rgb(238, 252, 252);
  padding-left: 5cm;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}
/* .form{
    display: block;
    padding: 25px;
    width: 70%;
    height: 100vh;
    margin: 10px;
} */
label.labelp {
  width: 15%;
  padding: 16px;
}
input.ip {
  width: 32rem;
  height: 37px;
  padding-left: 15px;
  transition: all 250ms ease-in-out;
  border: 0.2px solid gray;
  background-color: whitesmoke;
  outline: none;
  border-radius: 2px;

}
input.ip:hover{
  background-color: #ffffff;
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
            transition: all 250ms ease-in-out;
}
/* input.ip:active{
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
  transition: all 250ms ease-in-out;
} */

input.ipage.kbox {
  width: 178px;
  height: 35px;
  border: 0.2px solid rgb(172, 162, 162);
  outline: none;
  background-color: whitesmoke;
  border-radius: 2px;
}

input.ipage.kbox:hover{
  background-color: #ffffff;
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
            transition: all 250ms ease-in-out;

}
button.butnu {
  background-color: rgb(238, 252, 252);
  border-color: crimson;
  color: crimson;
  border-style: solid;
  border-radius: 7px;
  width: 20%;
  height: 41px;
  margin: 28px;
}

button.butnu:hover{

  background-color: crimson;
  color: rgb(250, 250, 250);

}