.cardBody {
  padding-left: 5cm;
  padding-right: 3cm;
  font-size: 12pt;
}

.ccardBody {
  border: solid crimson;
  border-radius: 5pt;
  border-width: 1.2pt;
  padding: 4pt;
  background-color: rgb(245, 234, 236);
}

.label-beauty {
  width: 150px;
  display: inline-block;
}

.input-box-beauty {
  border-radius: 6px;
  border-color: rgb(201, 199, 199);
  border-spacing: 10px;
  width: 8.5cm;
  height: 0.6cm;
  border-style: solid;
  margin: 5px;
  padding-left: 5px;
}

.forcvv {
  width: 2cm;
}

.changeAddress-label {
  border-radius: 6px;
  border-color: rgb(201, 199, 199);
  border-spacing: 10px;
  width: 120px;
  height: 25px;
  border-style: solid;
  margin: 5px;
  padding-left: 1px;
}
