.base-container {
  padding-top: 1cm;
  background-color: rgb(238, 252, 252);
  padding-left: 5cm;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .header {
    color: crimson;
  }

  .content {
    display: flex;
    flex-direction: column;
    place-items: flex-start;

    .image {
      width: 20em;
      background-color: rgb(238, 252, 252);

      img {
        width: 50%;
        height: 50%;
      }
    }

    .form {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size: 17px;
        }
        input {
          margin-top: 6px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 14px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px rgb(241, 103, 131);
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px rgb(241, 103, 131);
          }
        }
      }
    }
  }

  .footer {
    // padding: 0px 73px;
    align-items: none;
    display: inline;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
  }
}
